.content-search {
    margin: 20px 0;
}
.message {
    display: flex;
    justify-content: center;
}
.content-btn {
    display: flex;
    justify-content: flex-end;
}
::ng-deep.ant-btn.ant-btn-primary i {
    display: inline-flex;
}
