<div class="container">
  <nz-tabset>
    <!-- Super Héroes -->
    <nz-tab nzTitle="Super Héroes">
      <!-- Busqueda -->
      <section>
        <div class="content-search">
          <nz-input-group class="input-search" nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" [(ngModel)]="inputValue" nz-input placeholder="Buscar por nombre" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" (click)="search()" nzSearch><i nz-icon nzType="search"
                nzTheme="outline"></i></button>
          </ng-template>
          <button nz-button nzType="dashed" (click)="getCharacters()" nzSearch><i nz-icon nzType="clear"
              nzTheme="outline"></i></button>
        </div>
      </section>
      <!-- Fin Busqueda -->
      <section>
        <div class="content-result">
          <!-- Card -->
          <div class="card character mb-4" *ngFor="let character of charactersList" style="max-width: 97%;">
            <div class="row g-0">
              <div class="col-md-3">
                <img class="character-thumbnail" [src]="character | images" [alt]="character.name" width="100%"
                  height="100%">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{character.name}}</h5>
                  <p class="card-text">{{character.description ? character.description : 'No hay descripción disponible'}}
                  </p>
                  <p class="card-text"><small class="text-muted">Última actualización: {{character.modified | date:'medium'}}</small></p>
                  <a [href]="character.urls[1].url" target="_blank">Leer más</a>
                  <div class="content-btn">
                    <button nz-button nzType="primary" (click)="addCharacter(character.id)" nzSearch><i nz-icon
                        nzType="plus-circle" nzTheme="fill"></i>Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin Card -->
        </div>
      </section>
    </nz-tab>
    <!-- Fin Super Héroes -->
    <!-- Tab Super Héroes Guardados -->
    <nz-tab nzTitle="Super Héroes Guardados">
      <section>
        <div class="content-result-save">
          <div class="mesagge">
            <h5 *ngIf="!charactersIdList.length" class="text-center">Aún no has guardado un super héroe.
            </h5>
          </div>
          <!-- Card -->
          <div class="card character mb-4" *ngFor="let character of charactersIdList" style="max-width: 97%;">
            <div class="row g-0">
              <div class="col-md-3">
                <img class="character-thumbnail" [src]="character | images" [alt]="character.name" width="100%"
                  height="100%">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{character.name}}</h5>
                  <p class="card-text">{{character.description ? character.description : 'No hay descripción disponible'}}
                  </p>
                  <p class="card-text"><small class="text-muted">Última actualización: {{character.modified | date:'medium'}}</small></p>
                  <div class="content-btn">
                    <button nz-button nzType="primary" (click)="removeCharacter(character.id)" nzDanger><i nz-icon
                        nzType="minus-circle" nzTheme="outline"></i>Quitar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin Card -->
        </div>
      </section>
    </nz-tab>
    <!-- Fin Tab Super Héroes Guardados -->
  </nz-tabset>
</div>