<div class="container">
  <nz-tabset>
    <nz-tab nzTitle="Super Heroes">
      <div class="content-search">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" [(ngModel)]="inputValue" nz-input placeholder="Buscar por nombre" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search()" nzSearch><i nz-icon nzType="search"
              nzTheme="outline"></i></button>
        </ng-template>
      </div>
      <div class="content-result">
        <div class="card mb-3" *ngFor="let character of charactersList" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-3">
              <img class="character-thumbnail" [src]="character | images" [alt]="character.name" width="200px"
                height="auto">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">{{character.name}}</h5>
                <p class="card-text">{{character.description ? character.description : 'No hay descripción disponible'}}
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a [href]="character.urls[1].url" target="_blank">Leer más</a>
                <div class="content-btn">
                  <button nz-button nzType="primary" (click)="add(character.id)" nzSearch><i nz-icon nzType="plus-circle" nzTheme="fill"></i>Agregar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Super Heroes Guardados">
      <div class="content-result-save">
        <div class="mesagge">
          <h5 *ngIf="!charactersIdList.length" class="text-center">Aún no haz guardado ningun super heroe :(
          </h5>
        </div>
        <div class="card mb-3" *ngFor="let character of charactersIdList" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-3">
              <img class="character-thumbnail" [src]="character | images" [alt]="character.name" width="200px"
                height="auto">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">{{character.name}}</h5>
                <p class="card-text">{{character.description ? character.description : 'No hay descripción disponible'}}
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</div>