<div class="container">
  <nz-tabset>
    <nz-tab nzTitle="Super Heroes">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>
      <div>
        <div class="card mb-3" *ngFor="let character of charactersTabs" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-3">
              <img class="character-thumbnail" [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
                alt="" width="200px" height="auto" srcset="">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h5 class="card-title">{{character.name}}</h5>
                <p class="card-text">{{character.description ? character.description : 'No hay descripción disponible'}}
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a [href]="character.urls[1].url" target="_blank">Leer más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Super Heroes Guardados">Content of Tab Pane 2</nz-tab>
  </nz-tabset>
</div>