<main role="main">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-3">
                    <h2 class="text-center">Super herores guardados</h2>
                    <div *ngFor="let image of imagesList">
                        <img [src]="image | images" [alt]="image.name" width="200px" height="auto">
                    </div>
                    <div class="mesagge">
                        <h5 *ngIf="!imagesList.length" class="text-center">Aún no haz guardado ningun super heroe :(
                        </h5>
                    </div>
                </div>
                <div class="col-md-9">
                    <app-tabs></app-tabs>
                </div>
            </div>
        </section>
    </div>
</main>